.header {
  background: #151515 url("../images/intro-bg.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: "lora-regular", serif;
}

.header .social {
  bottom: 50px;
}

.about-img {
  width: 240px;
}

.project:hover {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

.services {
  background: url("../images/bg.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.services::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.7);
}

.services .container {
  z-index: 10;
}
